html
  head
    title Consort Tutorial
    link(rel="stylesheet", href="/public/css/application.css")
    block scripts
  body
    block content
    block foot
      #footer
        p some footer content