extends layout.pug

block content
  h1 Search Results
  ul.results
    each result, index in results
      li
        div
          img(src=result.artworkUrl100)
        div.info
          p.collection=result.collectionName
          p.artist=result.artistName